/*Brandon Harris */
.jumbotron {
  color: white;
  background-image: url("../images/jumbopic.png");
  background-size: cover;
  filter: grayscale(100%);
}

.footerimage {
  width: 10%;
  height: auto;
}

.titletext {
  color: #2B908F;
  font-family: 'Unica One';
  text-align: center;
}


/* Color codes for adjustments for gray background  #2B908F is teal */
body { background-color: #2a2a2b; }

p { color: #E0E0E3; }

input { color: black; }

legend { color: #E0E0E3;}

h2 { color: #E0E0E3; }

h3 { color: #E0E0E3; }

label { color: #E0E0E3; }

hr { border-color: #2B908F; }

th {
  color: #2B908F;
  font-family: 'Unica One';
 }

td {
  color: #E0E0E3;
  font-family: 'Unica One';
  font-weight: bold;
 }
