/*Brandon Harris x*/
.jumbotron {
  color: white;
  background-image: url("../images/jumbopic.png");
  background-size: cover;
  filter: grayscale(100%);
}

.footerimage {
  width: 10%;
  height: auto;
}
